html, body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;

    
}

h1 {
    text-align: center;
    font-size: 80px;
    color: rgb(48, 0, 138);
}

.headingContainer {
    padding-top: 3%;
    margin: 80px;
}


hr {
    border: none;
    border-top: 2px solid  rgb(48, 0, 138);
    width: 80%;
}

.navbar {
    background-color: rgb(205, 183, 226);
    overflow: hidden;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar a {
    font-size: large;
    float: left;
    color: rgb(93, 0, 104);
    text-align: center;
    padding: 10px 20px;
    padding-top: 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:   rgb(48, 0, 138);
    color: white;
    transition: 0.8s;
    text-decoration: underline;
}

.navbar a:active {
    background-color:   rgb(48, 0, 138);
    color: white;
}


.logo img{
    width: auto;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
}





#privacyPolicyContainer {
    padding-left: 10%;
    padding-right: 40%;
    text-overflow: clip;
    text-align: left;
    color:  rgb(93, 0, 104);
}

#privacyPolicyContainer a:hover {
    color:  rgb(135, 153, 255);
}

.bold-text {
    font-weight: bold;
}

.bold-text-italics {
    font-weight: bold;
    font-style: italic;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {

    text-align: left;
    padding: 8px;
    font-weight: lighter;
    border: 2px solid   rgb(135, 153, 255) ;
}
 ul{
    list-style: none;
}
  

#tableOfContents {
    background-color: #ffffff;
    margin-right: 10%;
    padding: 10px;
    width: 20%;
    border: 2px solid;
    border-radius: 5px;
    float: right;
    color: rgb(135, 153, 255);

}

#tableOfContents a {
    color:  rgb(135, 153, 255);
}

#tableOfContents a:hover {
   color:  rgb(255, 238, 126);
}

.collapsible {
    margin-left: 7%;
    max-width: 85%;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 85%; 
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    position: relative;
  }
  
  .active, .collapsible:hover {
    transition: 0.6s;
    background-color: rgba(48, 0, 138, 0.596);
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    margin-left: 7%;
    max-width: 82.5%; 
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

.btn1 {
    background-color: rgba(135, 153, 255, 0.705);
  }
.btn2 {
    background-color: rgba(255, 102, 102, 0.507);
  }
.btn3 {
    background-color: rgba(253, 219, 108, 0.733);
  }
.btn4 {
    background-color: rgba(255, 105, 180, 0.616);
  }

 a button {
    color: rgba(48, 0, 138, 0.596);
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 1% 7%; 
    margin: 0 auto; 
    display: block; 
    border: 2px solid rgba(48, 0, 138, 0.596);
    margin-bottom: 3%;
  }
  
  a button:hover {
    background-color: rgba(48, 0, 138, 0.596);
    color: white;
    transition: 0.7s;
    cursor: pointer;
  }
  
